@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 18px;
}

:root {
  //Colors
  --bg-color: #1e2236;
  --card-transparency: #00152493;
  --search-transparency: #7c7c7c2b;
  --text-primary: #ff7d00;
  --text-secondary: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-secondary);
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: var(--card-transparency);
  width: 340px;
  padding: 1.5rem;
  border-radius: 1rem;
  .content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .search {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 0.3rem;
      margin-bottom: 3rem;
      .search-bar {
        background-color: var(--search-transparency);
        color: var(--text-secondary);
        border: none;
        border-radius: 15px;
        padding: 0.5rem 0.2rem;
        padding-left: 0.8rem;
        &:focus {
          outline: none;
          border: 1px solid var(--text-primary);
        }
      }
      .search-btn {
        border-radius: 50%;
        height: 1.8rem;
        width: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 0.5rem;
        color: var(--text-primary);
        background-color: var(--search-transparency);
        cursor: pointer;
        &:active {
          transition: all 0.1s ease-in-out;
          transform: scale(92%);
          background-color: var(--text-primary);
          color: var(--text-secondary);
        }
      }
    }
    .display {
      display: flex;
      flex-direction: column;
      justify-content: left;
      .place {
        font-size: 0.8rem;
        font-weight: 600;
        margin-bottom: 0.3rem;
        padding-left: 0.15rem;
      }
      .name {
        color: var(--text-primary);
        font-size: 2.3rem;
        font-weight: 700;
        line-height: 2.4rem;
        margin-bottom: 2rem;
      }
      .temperature-1,
      .temperature-2 {
        font-size: 2.2rem;
        font-weight: 700;
        margin-bottom: 1.8rem;
        span {
          font-size: 2rem;
          font-weight: 700;
        }
      }
      .type {
        margin-bottom: 0.6rem;
      }
    }
  }
}

@import "media";
