/* Layout */
body {
  padding: 70px;
  background-color: hsl(210, 46%, 95%);
  font-family: "Barlow Semi Condensed", sans-serif;
}

.wrapper {
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  margin-top: 40px;
  vertical-align: middle;
  display: grid;
  grid-gap: 30px;
  padding: 10px;
  border-radius: 10px;
  grid-template-columns: repeat(11, 1fr);
}

.box {
  border-radius: 10px;
  padding: 10px;
}

.a {
  background-color: hsl(263, 55%, 52%);
  grid-column: 1/6;
  grid-row: 1;
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  color: hsl(263, 55%, 68%);
  background-position: right 60px top 2px;
}

.b {
  background-color: hsl(217, 19%, 35%);
  grid-column: 6/9;
  grid-row: 1;
  color: hsl(0, 0%, 70%);
}
.c {
  background-color: hsl(0, 0%, 100%);
  grid-column: 9/12;
  grid-row: 1/3;
  color: hsl(217, 19%, 65%);
}
.d {
  background-color: hsl(0, 0%, 100%);
  grid-column: 1/4;
  grid-row: 2;
  color: hsl(217, 19%, 65%);
}
.e {
  background-color: hsl(219, 29%, 14%);
  grid-column: 4/9;
  grid-row: 2;
  color: hsl(0, 0%, 70%);
}

/* Content */

.content {
  margin: 20px;
}

.content-profile {
  font-size: 16px;
}

.content-profile-info {
  font-weight: 600;
  transform: translate(17px, 0);
}

.content-text {
  padding-top: 10px;
}

.content-text h1 {
  font-size: 18px;
  font-weight: 600;
}

.content-text p {
  font-size: 17px;
  font-weight: 500;
}

.propic {
  width: 30px;
  height: 30px;
  border-radius: 56px;
  border: 2px solid white;
  float: left;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Desktop */

@media only screen and (max-width: 1212px) {
  .a {
    grid-column: 1/8;
    grid-row: 1;
  }
  .b {
    grid-column: 8/12;
    grid-row: 1;
  }
  .c {
    grid-column: 1/12;
    grid-row: 2;
  }
  .d {
    grid-column: 1/5;
    grid-row: 3;
  }
  .e {
    grid-column: 5/12;
    grid-row: 3;
  }
}

@media only screen and (max-width: 900px) {
  body {
    padding: 20px;
  }
  .wrapper {
    grid-template-columns: 1fr;
    margin-top: unset;
  }
  .a {
    grid-column: unset;
    grid-row: unset;
  }
  .b {
    grid-column: unset;
    grid-row: unset;
  }
  .c {
    grid-column: unset;
    grid-row: unset;
  }
  .d {
    grid-column: unset;
    grid-row: unset;
  }
  .e {
    grid-column: unset;
    grid-row: unset;
  }
}
